@font-face {
    font-family: Space_Grotesk;
    src: url('../assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/static/Inter_24pt-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Playfair_Display;
    src: url('../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}
